<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="row center home-button">
        <%= link_to "Words", words_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "Lession", categories_path, class: "btn btn-lg btn-primary" %>
      </div>
      <%= render 'shared/activities', activities: @activities,
        path: root_path(@user, page: @activities.next_page),
        text: "Activities Feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the E-learner System</h1>

    <h2>
      This is the home page for the
      E-learner System.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
