<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_followings_path @user %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= user_followers_path @user %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
<div class="stats">
  <%= link_to("Learned " + pluralize(@user.learned_words.count, "word"),
              words_path(word: {learned: 1})) %>
</div>
