<% provide(:title, "Lesson|#{@lesson.category.name}") %>
<%= content_tag :div, class: "row" do %>
  <% if @lesson.learned %>
    <%= content_tag :p,"You have " +
      pluralize(@lesson.check_correct_answer, "correct answer"),
      class: "correct" %>
  <% end %>
  <%= form_for @lesson, method: :patch do |f| %>
    <% @lesson.results.each_with_index do |result, i| %>
      <%= content_tag :div, class: i == 0 ? "question current" : "question",
        id: result.word.id do %>
        <%= content_tag :p,
          "#{@lesson.category.name} #{i+1}/#{@lesson.results.count}" %>
        <table><tr>
          <td style="padding-right:30px">
            <span class="word"><%= result.word.content %></span><br />
          </td>
          <td>
            <%= f.fields_for :results, result do |builder| %>
              <% result.word.answers.shuffle.each do |answer| %>
                <%= builder.radio_button :answer_id, answer.id,
                  disabled: @lesson.learned %>
                <%= builder.label :answer_id, answer.content, value: answer.id,
                  class: answer.correct && @lesson.learned ?
                  "correct" : "" %>
                <%= content_tag :br %>
              <% end %>
            <% end %>
            <% if i == 19 %>
              <%= button_tag "Submit", type: "submit", disabled: @lesson.learned %>
            <% else %>
              <%= button_tag "Next", type: "button", onclick: "show_questions()" %>
            <% end %>
          </td>
        </tr></table>
      <% end %>
    <% end %>
  <% end %>
<% end %>
