<% provide(:title, 'All words') %>
<h1>All words</h1>
<div class="filter form-actions">
  <%= form_tag words_path, method: :get do %>
    Category:
    <%= select_tag :category_id,
      options_from_collection_for_select(Category.all.collect,
                                         "id",
                                         "name",
                                         @category_id.to_i),
      prompt: "All" %>
    Learned:
    <%= radio_button_tag 'learned', '1', @learned == 1 %>
    Not learned:
    <%= radio_button_tag 'learned', '0', @learned == 0 %>
    All:
    <%= radio_button_tag 'learned', '-1', @learned == -1 %>
    <%= submit_tag 'Filter', class: 'filter_submit' %>
  <% end %>
</div>
<%= will_paginate %>
<ul class="words">
  <% @words.each do |word| %>
    <%= render word %>
  <% end %>
</ul>
<%= will_paginate %>
