<li>
  <%= link_to content_tag(:h1, category.name),
              category_lessions_path(category) %>
  <%= content_tag :h2,
    "You've learned \
    #{category.words_learned_by(current_user).count}/#{category.words.count}" %>
  <%= content_tag :p, category.description %>
  <%= link_to 'Start', category_lessions_path(category), method: :post,
                       class: "btn btn-lg btn-primary" %>
  <% if current_user.admin? %>
    <span class="admin">
      <%= link_to "add word", new_admin_category_word_path(category) %>
      <%= link_to "edit", edit_admin_category_path(category) %>
      <%= link_to "delete", admin_category_path(category), method: :delete,
                                      data: {confirm: 'You sure?'} %>
    </span>
  <% end %>
</li>
